.surrounding-div{
	width: 340px;
	border-style: none;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
	padding-top: 2px;
	padding-bottom: 2px;
}

.inboxes-text{
	font-family: Roboto, Arial;
	font-size: 14px;
	color: #878787;
	margin-top: 8px;
	margin-bottom: 12px;
	margin-left: 14px;
}

.flex-box{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 14px;
	margin-bottom: 16px;
}

.profile-image{
	height: 40px;
	width: 40px;
	object-fit: cover;
	object-position: top;
	border-radius: 25px;
}

.right-section{
	margin-left: 10px;
}

.inner-flex-box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 2px;
	width: 260px;
	align-items: center;
}

.left-flex-section{
	font-family: Roboto, Arial;
	font-size: 15px;
	font-weight: 700;
}

.right-flex-section{
	font-family: Roboto, Arial;
	font-size: 12px;
	color: #878787;
}

.second-vertical{
	font-family: Roboto, Arial;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 2px;
}

.third-vertical{
	font-family: Roboto, Arial;
	font-size: 12px;
}