body{
	height: 3000px;
}

.bottom-right-div{
	background-color: black;
	color: white;

	position: fixed;
	right: 120px;
	bottom: 20px;
}

.right-sidebar-div{
	background-color: green;
	color: white;

	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;

	width: 100px;
}

.page-cover-div{
	background-color: gray;

	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 100px;
}